.second_section{
    margin-top: 20px;
    flex: 1 1 100%;
    -webkit-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75); 
    display: flex; 
    padding: 15px;

    .product_wise{
     flex: 1 1 100%;
     display: flex;
     flex-direction: column;
     padding: 10px;
     

     .product_display{
         flex: 1 1 100%;
         display: flex;
         flex-direction: row;


        .product_img{
            width: 300px;
            height: 250px;
            flex: 1 1 100%;
            position: relative;
            display: flex;
            -webkit-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75); 
    overflow: hidden;
            
            img{
                
                flex-basis: 50%;
                // width: 200px;
                //  height: 200px;
            }
        }
       
        .product_value{
            color: black;
            flex: 1 1 100%;

             .button_value{
                 display: flex;
                 flex-direction: column;
                 
                 

             .value{
                 flex: 1 1 100%;
                 padding: 0;
                 margin-bottom: -15px;

                 display: flex;
               justify-content: center;
                 margin-left: -150px;
                //  margin-right: 100px;
                

                label{
                    color: black;
                    background-color: #f2f2f2;
                    padding:5px 40px 5px 40px;
                    border-radius: 5px;
                }
             }
             .value_label{
                margin: 20px;
                 flex: 1 1 100%;
               color: black;
               font-size: 12px;
               display: flex;
               align-items: center;
               justify-content: center;
               margin-left: -120px;
             }
        }
        }
     }

     .product_search{
         flex: 1;

         .product_search_box{
             width: 100%;
         }
     }
    }

    .product_graph{
        flex: 1 1 100%;
        height: 90%;
        
    }
}