.tableCont{
  width: 98%;
  margin-right: 30px;
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-gap: 1.5rem;
    grid-template-rows: minmax(350px,auto);





    .category{
        display: flex;
    
        justify-content: center;
        
       
        -webkit-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75);
          box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75);
    
          
          
    
          
    }

    .product{
        
       
        -webkit-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75);
          box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75);
     
  
    }



    .productSku{
        
        padding: 1rem;
        -webkit-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75);
          box-shadow: 0px 4px 8px -4px rgba(0,0,0,0.75);
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;


.my-custom-scrollbar {
      position: relative;
      height: 200px;
      overflow: auto;

      
      }
  .table-wrapper-scroll-y {
      display: block;
      }
          
    .AddSku{
      margin-left: 350px;
      margin-top: 35px;
    }
    }

    

      
}

